<div class="register-logo">
		<b> Register a New Anchor membership</b>
</div>
<uib-accordion-heading>
        Anchor Personal Details
</uib-accordion-heading>
<form name="anchorPersonalDetails" class="form-horizontal">
    <div class="box-body">
	<div class="form-group">
<div class="form-group">
    <label for="anchorName">Anchor Name</label>
        {{input type="text" class="form-control" id="anchorName" placeholder="Name" value=post.myname}}
 </div>
 <div class="form-group">
    <label for="anchorEmail">Anchor Email ID</label>
        {{input type="text" class="form-control" id="anchorEmail" placeholder="Email" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorMobileno">Anchor Mobile No.</label>
        {{input type="text" class="form-control" id="anchorMobileno" placeholder="Mobile Number" value=post.myname}}
 </div>
 </div>
 </div>
</form>

 <uib-accordion-heading>
Anchor Bank Details
 </uib-accordion-heading>

<form name="anchorBankDetails" class="form-horizontal">
<div class="box-body">

<div class="form-group">
    <label for="anchorOperationsEmail">Operations Email ID</label>
        {{input type="text" class="form-control" id="anchorOperationsEmail" placeholder="Operations Email" value=post.myname}}
 </div>

<div class="form-group">
    <label for="anchorRepaymentAccNo">Repayment Account No.</label>
        {{input type="text" class="form-control" id="anchorRepaymentAccNo" placeholder="Repayment Account No." value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorRelationshipManagerEmail">Relationship Manager Email ID</label>
        {{input type="text" class="form-control" id="anchorRelationshipManagerEmail" placeholder="Relationship Manager Email" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorLimit">Customers Limit</label>
        {{input type="text" class="form-control" id="anchorLimit" placeholder="Customers Limit" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorIncomeAccNo">Fee IncomeAccount No.</label>
        {{input type="text" class="form-control" id="anchorIncomeAccNo" placeholder="Fee IncomeAccount No" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorFeePercentage">Fee Percentage</label>
        {{input type="text" class="form-control" id="anchorFeePercentage" placeholder="Fee Percentage" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorPenalInterest">Penal Interest</label>
        {{input type="text" class="form-control" id="anchorPenalInterest" placeholder="Penal Interest" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorFeeGraceInterest">Fee GraceInterest</label>
        {{input type="text" class="form-control" id="anchorFeeGraceInterest" placeholder="Fee GraceInterest" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorIncomeAccNo">Fee IncomeAccount No.</label>
        {{input type="text" class="form-control" id="anchorIncomeAccNo" placeholder="Fee IncomeAccount No" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorGraceInterestPeriod">Grace Interest Period</label>
        {{input type="text" class="form-control" id="anchorGraceInterestPeriod" placeholder="Grace Interest Period" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorInterestEarnedGL">Interest Earned GL</label>
        {{input type="text" class="form-control" id="anchorInterestEarnedGL" placeholder="Interest Earned GL" value=post.myname}}
 </div>

 <div class="form-group">
    <label for="anchorLimitExpiryDate">Limit Expiry Date</label>
        {{input type="text" class="form-control" id="anchorLimitExpiryDate" placeholder="Limit Expiry Date" value=post.myname}}
 </div>

<div class="form-group">
    <label for="anchorPoolAccNo">Pool Account No</label>
        {{input type="text" class="form-control" id="anchorPoolAccNo" placeholder="Pool Account No" value=post.myname}}
 </div>


<div class="form-group">
    <label for="anchorVendorFinanceGL">Vendor Finance GL</label>
        {{input type="text" class="form-control" id="anchorVendorFinanceGL" placeholder="Vendor Finance GL" value=post.myname}}
 </div>


<div class="form-group">
    <label for="anchorAccruedInterestPayableGL">Accrued Interest Payable GL</label>
        {{input type="text" class="form-control" id="anchorAccruedInterestPayableGL" placeholder="Accrued Interest Payable GL" value=post.myname}}
 </div>


<div class="form-group">
    <label for="anchorAccruedInterestReceivableGL">Accrued Interest Receivable GL</label>
        {{input type="text" class="form-control" id="anchorAccruedInterestReceivableGL" placeholder="Accrued Interest Receivable GL" value=post.myname}}
 </div>


<div class="form-group">
    <label for="anchorLiquidation">Liquidation</label>
        {{input type="text" class="form-control" id="anchorLiquidation" placeholder="Liquidation" value=post.myname}}
 </div>


<div class="form-group">
    <label for="anchorMaximumOverDuePercentage">Maximum Over Due Percentage</label>
        {{input type="text" class="form-control" id="anchorMaximumOverDuePercentage" placeholder="Maximum Over Due Percentage" value=post.myname}}
 </div>
 </div>
</form>
<div>
<button type="submit" class="btn btn-default">Register</button>
</div>
