
<div id="wrapper" class={{isActive}}>
   <!---try -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
    			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        			<span class="sr-only">Toggle navigation</span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
        			<span class="icon-bar"></span>
    			</button>
                <div  class="navbar-brand" {{action "toggleclass"}}>
                    <a id="menu-toggle" href="#" class="glyphicon glyphicon-align-justify btn-menu toggle">
                        
                    </a>
    				<a href="#">Rapidqube</a>
                </div>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				
			</div><!--/.nav-collapse -->
		</div>

         <div class="logout-header">
            <button type="button" {{action "logout"}}>Logout</button>
        </div>
        
	</nav>
   <!--end try-->
<div id="sidebar-wrapper">
    <div id="mySidenav" class="col-md-6  sidebar">
   
        <br>
        <div {{action 'swapregulator'}}> REGULATOR
        </div>
        {{#if regulator}}
        <ul >
           <li> {{#link-to "home.livestats"}} live Stats {{/link-to}} </li>
            <li>{{#link-to "home.anchoragreement"}} Anchor Agreement {{/link-to}}</li>
            <li>{{#link-to "home.vendoragreement"}}Vendor Agreement{{/link-to}}</li>
            <li>{{#link-to "home.anchorprograminit"}}anchor program initation{{/link-to}}</li>
            <li>{{#link-to "home.anchorprogrampending"}}anchor program pending{{/link-to}}</li>
            <li>{{#link-to "home.anchororderclosed"}}anchor order closed{{/link-to}}</li>
        </ul>
        {{/if}}
        <br>
        <div {{action 'swapanchor'}}> ANCHOR
        </div>
        {{#if anchor}}
        <ul>
            <li>{{#link-to "home.anchor-registration"}}Anchor Registration{{/link-to}} </li>
            <li>{{#link-to "home.anchor-sign-purchase-order"}}Anchor Sign Purchase Order {{/link-to}} </li>
            <li>{{#link-to "home.anchor-invoice-acceptance"}}Anchor Invoice Acceptance {{/link-to}}</li>
            <li>{{#link-to "home.anchor-pending-payment"}}Anchor Pending Payment{{/link-to}} </li>
            <li>{{#link-to "home.anchor-payment-status"}}Anchor Payment Status {{/link-to}} </li>
        </ul>
        {{/if}}
        <br>
        <div {{action 'swapvendor'}}> VENDOR
        </div>
        {{#if vendor}}
        <ul>
            <li>{{#link-to "home.vendor-registration"}}Vendor Registration{{/link-to}}</li>
            <li>{{#link-to "home.vendor-sign-invoice"}}vendor sign invoice{{/link-to}}</li>
            <li>{{#link-to "home.vendor-payment-status"}}vendor payment status{{/link-to}}</li>
        </ul>
        {{/if}}
        <br>
        <div {{action 'swappayment'}}>PAYMENT
        </div>
        {{#if payment}}
        <ul>
            <li>{{#link-to "home.payment-initation"}}payment initation{{/link-to}}</li>
        </ul>
        {{/if}}
        <br>
        <div {{action 'swapsettlement'}}>SETTLEMENT
        </div>
        {{#if settlement}}
        <ul>
            <li> {{#link-to "home.settlement"}}YBL Query Settlement{{/link-to}}</li>
        </ul>
        {{/if}}
    </div>
</div>
    <div id="content" class="col-md-10">
        {{outlet}}
    </div>
</div>